body {
    background-color: lightsteelblue;
    text-align: left;
    font-family: "Trirong", serif;
    font-size: 20px;
    color: #1e022c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
 }

 .button {
    background-color:rgba(0, 0, 128, 0.733);
    color:navy;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: auto;
    border-radius: 15%;
    display: inline-block;
    border-width: 5px;
    border-color: white;
    font-family: "Trirong", serif;
 }
 .no-button {
   background-color:grey;
   color:black;
   size: auto;
   padding: auto;
   font-size: 16px;
   cursor: pointer;
   text-align: center;
   border-radius: 15%;
   font-family: "Trirong", serif;
 }

 .index_Text {
   padding: 14px 28px;
   font-size: 20px;
   font-family: "Trirong", serif;
 }

 .parking-spot-button {
  background-color:aquamarine;
  color: black;
  padding: 20px 20px;
  font-size: 24px;
  text-align: auto;
  cursor: pointer;
  border-radius: 15%;
  border-width: 5px;
  border-color: grey;
  font-family: "Trirong", serif;
 }

 .topnav {
  background-color: lightsteelblue;
  text-align: right;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  color: navy;
  padding: 15px;
  margin: 15px;
 }

 .active{
  padding: 20px;
 }

 .settings{
  padding: 20px;
 }

 .report{
  padding: 20px;
 }

 .help{
  padding: 20px;
 }