body {
    background-color: lightsteelblue;
    text-align: left;
    font-family: "Trirong", serif;
    font-size: 20px;
    color: navy;
    margin: 10 px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 .centerAlignedBody {
    background-color: lightsteelblue;
    text-align: center;
    font-family: "Trirong", serif;
    font-size: 20px;
    color: navy;
    margin: 10 px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 .title {
  position: fixed;
  background-color: aliceblue;
  top: 35px;
  left: 8px;
 }

 .logo {
  top: 55px;
  left: 475px;
}

.logoOnLogPages {
  position: right;
 }

 .button {
    background-color:rgba(0, 0, 128, 0.733);
    color:white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 15%;
    display: inline-block;
    border-width: 5px;
    border-color: white;
    font-family: "Trirong", serif;
 }

 .button:hover {
  background-color:grey;
  color:white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 15%;
  display: inline-block;
  border-width: 5px;
  border-color: white;
  font-family: "Trirong", serif;
}

 .no-button {
   background-color:grey;
   color:black;
   size: auto;
   padding: auto;
   font-size: 16px;
   cursor: pointer;
   text-align: center;
   border-radius: 15%;
   font-family: "Trirong", serif;
 }

 .index_Text {
   padding: 14px 28px;
   font-size: 20px;
   font-family: "Trirong", serif;
  }
 
  .parking-spot-button {
   background-color:rgba(0, 0, 128, 0.733);
   color: white;
   padding: 40px 20px;
   font-size: 24px;
   text-align: center;
   cursor: pointer;
   border-radius: 15%;
   border-width: 5px;
   border-color: grey;
   font-family: "Trirong", serif;
  }

  .parking-spot-button:hover {
    background-color:grey;
    color: white;
    padding: 40px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 15%;
    border-width: 5px;
    border-color: grey;
    font-family: "Trirong", serif;
   }
 
  .topnav {
   background-color: navy;
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   color: white;
   margin-top: 0px;
   margin-bottom: 15px;
  }

  .navtitle {
    text-align: left;
    color: white;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: inline-block;
  }

  .navlinks {
    text-align: right;
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    display: inline-block;
  }
 
  .rightcol{
   color: #000080;
   text-align: left;
   padding: 40px;
   font-size: 15px;
  }
 
  .leftcol{
   text-align: left;
   padding: 40px;
   margin: 5px;
  }
 
  .active{
   padding: 20px;
   text-decoration: underline;
   color: #ffffff;
  }
 
  .settings{
   padding: 20px;
  }
 
  .report{
   padding: 20px;
  }
 
  .help{
   padding: 20px;
  }
 
  .title{
   text-align: left;
  }
 
  .mapImages {
   text-align: left;
  }
 
  .parkingSpotColumn {
   float: left;
   width: 20%;
   padding: 5px;
 }
 .parkingSpotRow {
   content: "";
   clear: both;
   display: table;
 }

 .pagetitle {
  color: #000080;
  text-align: left;
  margin: 5px;
  padding: 5px;
  width: 20%;
 }

 .report-container {
  display: none;
  margin: 10px;
  padding: 10px;
}

#settings-title {
  text-align: left;
  padding: 20px;
  font-size: 24px;
}
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  height: 100vh;
  line-height: 0.8;
}
.setting-option {
  margin: 10px;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
.setting-option:hover {
  background-color: #ddd;
}
.setting-option i {
  margin-right: 10px;
}

.setting-dropdown-menu{
  background-color: white;
  font-size: 20px;
  border:#000080;
  color: rgba(0, 0, 128, 0.733);
}

.setting-labels {
  font-size: 50px;
  color: pink(0, 0, 128, 0.733);
}